alias l="ls -lhgX"
alias la="ls -lhgaX"
alias rm="nocorrect rm -i"
alias mv="nocorrect mv -i"
alias cp="nocorrect cp -i"
alias ln="nocorrect ln -i"
alias cp="cp -r"
alias copy="xclip -sel clip"
alias busy="cat /dev/urandom | hexdump -C | grep 'ca ce'"
alias newsbeuter="newsbeuter -C ~/.config/newsbeuter/config -u ~/.config/newsbeuter/urls"
alias n="nnn"
alias v="vim"
alias fuck='sudo $(fc -ln -1)'
